@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
  width: min(90%, 70rem);
  margin: auto;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .desktop_menu {
  display: none;
}
nav .mobile_menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem 0;
  overflow: hidden;
}
nav .mobile_menu span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: block;
}
nav .mobile_menu ul {
  list-style: none;
  text-transform: capitalize;
}
nav .mobile_menu ul li {
  margin-block: 2rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
nav .mobile_menu ul li:hover {
  color: hsl(5, 85%, 63%);
}
nav .show_menu {
  padding: 2rem;
  width: 15rem;
}

section {
  width: min(90%, 70rem);
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}
section .web_desktop_img {
  height: 15rem;
  grid-column: span 2;
  grid-row: span 2;
  background: url(images/image-web-3-mobile.jpg) no-repeat center/cover;
  margin: 2rem 0;
}
section .bright_future_headline {
  margin-bottom: 2rem;
}
section .bright_future_headline h1 {
  font-size: 2.75rem;
  font-weight: 800;
}
section .description p {
  color: hsl(236, 13%, 42%);
}
section .description button {
  border: none;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}
section .description button:hover {
  background-color: hsl(240, 100%, 5%);
  font-weight: 700;
}
section .side_bar {
  background-color: hsl(240, 100%, 5%);
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 1rem;
  margin: 2rem 0;
}
section .side_bar h1 {
  color: hsl(35, 77%, 62%);
  text-transform: capitalize;
  font-size: 2.5rem;
}
section .side_bar div {
  margin-top: 3rem;
}
section .side_bar h3 {
  color: hsl(36, 100%, 99%);
  margin-bottom: 1rem;
  text-transform: capitalize;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}
section .side_bar h3:hover {
  color: hsl(35, 77%, 62%);
}
section .side_bar p {
  color: hsl(233, 8%, 79%);
}
section .cards {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}
section .cards > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
section .cards > div img {
  width: 30%;
}
section .cards > div div span {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(233, 8%, 79%);
}
section .cards > div div h3 {
  color: hsl(240, 100%, 5%);
  padding: 1rem 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}
section .cards > div div h3:hover {
  color: hsl(5, 85%, 63%);
}
section .cards > div div p {
  color: hsl(236, 13%, 42%);
}

@media (min-width: 768px) {
  nav .desktop_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .desktop_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 2rem;
    text-transform: capitalize;
    list-style: none;
  }
  nav .desktop_menu ul li {
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    cursor: pointer;
  }
  nav .desktop_menu ul li:hover {
    color: hsl(5, 85%, 63%);
  }
  nav .icon_menu,
  nav .mobile_menu {
    display: none;
  }
  section {
    display: grid;
  }
  section .web_desktop_img {
    height: auto;
    background: url(images/image-web-3-desktop.jpg) no-repeat center/cover;
  }
  section .cards h3 {
    padding-block: 1rem;
  }
}
@media (min-width: 1122px) {
  .description button {
    margin-top: 2rem !important;
  }
  .cards h3 {
    padding-block: 1.5rem !important;
  }
}